@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

/*Styling for base container, it will apply to all the tiles */
.sdg-section{
	margin: 0 auto;
	/*This will create spacing around the elements inside it */
	padding: 2% 3%;
}

/*This will adjust all elements in the list */
.sdg-grid{
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	/*elements will be displayed as blocks*/
	display: block;
	text-align: center;
	width: 100%;
}


/*These parameters will allow the list elements to be displayed as tiles, each with a height and width of 328 pixels and a 20 pixel spacing around it  */
.sdg-grid li{
	width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.sdg-box{
	width: 90%;
	height: 100%;
	/*This will only change the layout around the tile */
	position: relative;
	/*This will add curvature to the tile border*/
	border-radius: 10px;
}	

.sdg-box:hover{
	/*the transform property will make the tile larger when the cursor hovers over it*/
	transform: scale(1.05);
}
/*from this point to sdg-img-17 is the application of a color gradient which will be the background of the tile, 
the classes are unique to each tile to allow a unique gradient for each one */

.sdg-img-1{
background-color: #002dff;
background-image: linear-gradient(160deg, #002dff 0%, #69c8e4 100%);

}

.sdg-img-2{
background-color: #00983d;
background-image: linear-gradient(45deg, #00983d 0%, #c9c300 100%);

}
.sdg-img-3{
background-color: #00b1de;
background-image: linear-gradient(90deg, #00b1de 0%, #ff0018 100%);

}
.sdg-img-4{
background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

.sdg-img-5{
background-color: #ff5800;
background-image: linear-gradient(62deg, #ff5800 0%, #e2a200 100%);

}

.sdg-img-6{
background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 25%, #ff9f2c 100%);

}

.sdg-img-7{
background-color: #ff00d0;
background-image: linear-gradient(45deg, #ff00d0 0%, #ff0000 100%);

}

.sdg-img-8{
background-color: #6ba2ff;
background-image: linear-gradient(180deg, #6ba2ff 0%, #ff2fc6 100%);

}

.sdg-img-9{
background-color: #3f21ff;
background-image: linear-gradient(180deg, #3f21ff 0%, #3bb6ff 50%, #ff8800 100%);

}

.sdg-img-10{
background-color: #74EBD5;
background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

}

.sdg-img-11{
background-color: #78c500;
background-image: linear-gradient(90deg, #78c500 0%, #bd4500 100%);

}

.sdg-img-12{
background-color: #ff90d0;
background-image: linear-gradient(225deg, #ff90d0 0%, #b053ff 50%, #55b9ff 100%);

}

.sdg-img-13{
background-color: #ff8c40;
background-image: linear-gradient(45deg, #ff8c40 0%, #5500ff 50%, #fd3b3b 100%);
}

.sdg-img-14{
background-color: #ff6258;
background-image: linear-gradient(62deg, #ff6258 0%, #ffb823 100%);

}

.sdg-img-15{
background-color: #5e5e5e;
background-image: linear-gradient(180deg, #5e5e5e 0%, #50beff 50%, #b90202 100%);

}

.sdg-img-16{
background-color: #ff0000;
background-image: linear-gradient(0deg, #ff0000 0%, #ffc300 19%, #fdf24d 39%, #87ff47 60%, #51d1ff 80%, #ad37f3 100%);

}

.sdg-img-17{
background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
/*This will affect the back to homepage button, it will apply a color gradient, change the font and curve the borders */
.btn-primary{
border: 0;
background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
font-family: garamond;
border-radius: 20px;

}
/*This will change the text color and background gradient when hovering over the button */
.btn-primary:hover{
background-color: #f55c8a;
background-image: linear-gradient(0deg, #f55c8a 0%, #7dfffc 100%);
color: black;
}


.sdg-info {
	/*This will position the tile closest to the one next to it, this is used to align all the tiles in a straight line per column */
	position: absolute;
	/*This means it will use the width and height of it's parent class, in this case the sdg-box class */
	width: inherit;
	height: inherit;
}

/*Styling to the content in the tiles (body) */
.sdg-info p{
 padding: 4px 5px;
 margin: 0 30px;
 font-family: 'Mate SC', serif;
 color: #fff;
/* size of text */ 	
 font-size: 14px;
/*This is the space between paragraphs of the text */	
 line-height: 2;
}
/*Styling to the heading of the tile */
.sdg-info h3{
	font-family: 'Pacifico',cursive;
	/*This is to set how bold the text will be*/
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 10px;
	padding: 50px 0 0 0;
	line-height: 2;
}

/*Custom font for header text (All Goals) */
.display-4{
	font-family: garamond;
}
/*Custom color for the text under the heading */
.under {
	color: grey;
}
