/*changes to the main background*/
body {
    font-size: 19px;
    background-image: url("https://i.imgur.com/fm0ibZr.jpg");
}

table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    /*^ Changing Border Model*/
    text-align: left;
}

th, td{
    border: 1;
    height: 60px;
    padding: 5px;
    color: black;
    font-family:cambria;
}
/*effect when mouse hovers over field*/
tr:hover {
    background: #f2c4ff;
    opacity: 1;
}
/*modification to form appearance*/
form {
    width: 45%;
    margin: 50px auto;
    text-align: left;
    padding: 20px; 
    border: 2px solid #bbbbbb; 
    /* Amount of curve in border radius */
    border-radius: 50px;
    border-color: purple;
    background-image: url("https://i.imgur.com/bzc7dJc.jpeg");
    background-size: cover;

/* Modifications to input fields*/
}

input {
    padding: 10px;
    /* ^ Space between input fields */
    font-size: 15px;
    color: white;
    background: #00187a;
    border: 10px;
    border-radius: 50px;
    font-family: garamond;
    opacity: 0.6;
}
/* Modifications to specifically the submit button*/
input[type=submit]
{
background-color: lime;
font-size: 17px;
float: left;
border-radius: 50px;
opacity: 1;
}

h1 {

    text-align: center;
    /* ^ Position of heading text*/
    color:#4cfcd9;
    font-family: Book Antiqua;


}
